body {
  overflow: hidden;
  background-image: url(http://getwallpapers.com/wallpaper/full/9/2/2/188915.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
  text-align: center;
  margin: auto;
  background-color: black;
}

.sphere {
  fill: black;
/*   stroke: #00003f; */
  stroke: #000064;
}

.country {
  fill: #000064;
  stroke: #00003d;
}

circle {
  stroke-width: 0.5;
/*   opacity: 0.5; */
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #6F257F;
  padding: 8px;
  text-align: center;
}

svg {
	margin-top: 5em;
}

h1 {
	color: #707070;
	text-align: left; 
  margin-left: 1.5em;
  margin-top: 1.5em;
  width: 7em;
  position: absolute;
  opacity: 0.5;
  font-family: serif;
}
